@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    // font-family: $body-font !important;
    background-color: $body-color;
    // color: $body-color;
}

.font-body {
    font-family: Syne, sans-serif;
}

.syneFont {
    font-family: "Syne", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
}